# Godot-specific
.godot/
.import/
export.cfg
export_presets.cfg

# C# - Mono/NET build files
.mono/
*.csproj
*.sln
*.user
*.pidb
*.dll
*.exe
*.pdb
*.cache/
obj/
bin/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini